@model IEnumerable<Hangsanxuat>
@foreach(var item in Model)
{
	<div class="input-checkbox">
		<input type="checkbox" id="brand-1">
		<label for="brand-1">
			<span></span>
			@item.Tenhang
			<small></small>
		</label>
	</div>
}

